$height: 38px;
$top-space: 38px;

.header {
	width: 100%;
	padding: $top-space;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;

	a {
		color: #ffffff;
		font-weight: 400;
	}

	nav {
		float: right;

		a {
			font-size: 16px;
			line-height: $height;
			margin-right: 32px;
		}
	}
}

.contact {
	font-size: 20px;
	line-height: $height;
	position: relative;
	transition: margin 0.15s ease-out;
	float: left;
}

.contact::before {
	height: 2px;
	width: 100px;
	background-color: #ffffff;
	position: absolute;
	top: ($height - 2px) / 2;
	left: -108px;
	content: '';
}

.contact:hover {
	margin-left: 16px;
}

.menuButton {
	height: $height;
	position: fixed;
	top: $top-space;
	right: 0;
	display: flex;

	span {
		color: #ffffff;
		font-size: 18px;
		line-height: $height;
		font-weight: 400;
		margin-right: 16px;

	}
}

.menuBars {
	height: $height;
	width: $height;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: end;

	div {
		height: 4px;
		width: 100%;
		background-color: #ffffff;
	}

	@for $i from 2 through 3 {
		div:nth-child(#{$i}) {
			width: 100% - 10% * $i;
		}
	}
}
