.main {
	background-color: #000000;
}

.background {
	height: 100vh;
	width: 100%;
	position: relative;
	opacity: 0;
	transition: opacity 2s ease-out;
	filter: brightness(80%);
}

.show {
	opacity: 1;
}
