@import './variables';
@import './header.module';

.main {
	background-color: #000000;
}

.background {
	height: 100vh;
	width: 100%;
	position: relative;
	opacity: 0;
	transition: opacity 2s ease-out;
	filter: brightness(80%);

	@media screen and (max-width: $landscape-mobile) {
		height: calc(100vh - $height-mobile - 2 * $top-space-mobile);
	}
}

.show {
	opacity: 1;
}
