@import './variables';

.container {
	h1 {
		color: $color-grey;
		font-size: 48px;
		line-height: 52px;
		font-weight: 300;
		text-transform: uppercase;
	}

	p, ul {
		margin-top: 24px;
	}

	p, li {
		color: $color-grey;
		font-size: 18px;
		line-height: 26px;

		a {
			color: $color-grey;
			text-decoration: underline;
		}
	}

	ul {
		padding-left: 16px;
	}
}
