.social {
	height: 32px;
	width: 32px;
	margin: 0 8px;
	background-color: #ffffff;
	border-radius: 50%;

	svg {
		height: 100%;
		width: 100%;
	}
}

.twitter {
	padding: 7px;
}

.instagram {
	padding: 7px;
}

.vero {
	padding: 4px;
}

.linkedin {
	padding: 7px;
}
