@import './variables';

.social {
	height: 32px;
	width: 32px;
	margin: 0 8px;
	background-color: #ffffff;
	border-radius: 50%;

	svg {
		height: 100%;
		width: 100%;
	}
}

.github {
	padding: 6px;
}

.instagram {
	padding: 7px;
}

.bluesky {
	padding: 7px;
}

.mastodon {
	padding: 7px;
}

.linkedin {
	padding: 7px;
}
